<div id="collection-show">
  <h1>Collection: <%= @collection.name %>
    <% if current_user %>
      <span><%= link_to " <span class=\"glyphicon glyphicon-trash\"></span>".html_safe, @collection, method: :delete %></span>
    <% end %>
  </h1>

  <% @code_snippets.each do |code_snippet| %>
    <p><h3>Github Path: </h3><%= code_snippet.path %></p>

    <p><h3>Github Url: </h3>
      <p><a href="<%= code_snippet.code_url %>"><%= code_snippet.code_url %></a></p>

    <h3>Code Content: </h3>
    <% if current_user %>
      <span id="remove"><%= link_to "<span class=\"glyphicon glyphicon-remove\"></span>".html_safe, code_snippet, method: :delete %></span>
    <% end %>
    <pre class="codeDisplay"><code>
      <label><%= code_snippet.code_content %></label>
    </code></pre>                                               
    <br>

  <% end %>

</div>
